language: php

php:
 # - 5.4
  #- 5.5
 # - 5.6
  - hhvm
#- hhvm-nightly


before_script:
  - ./.travis.install.sh

script:
  - ./vendor/bin/phpunit

notifications:
     email:
         recipients:
             - vidya@shippable.com
         on_success: change
         on_failure: always
